.sidebarfriend {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 15px;
}

.sidebarfriend:hover {
    background-color: rgb(199, 194, 194);
}

.sidebarFriendImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}